
services:
  tritonserver:
    # image: hieupth/tritonserver:25.04	
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tritonserver
    ports:
      - "7000:8000"  # HTTP
      - "7001:8001"  # gRPC
      - "7002:8002"  # Metrics
    volumes:
      - ./models:/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    